/********************************************************/
/*                                                      */
/*  Main CSS for SEAHO.org Admin site                   */
/*  Site and CSS file created by Lovett Creations       */
/*  Copyright 2007 -2008 All Rights Reserved            */
/*                                                      */
/********************************************************/


/*************       Global Section        *************/

body,td,th, input, textarea, textbox, select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10.5px;
}

input, textarea, textbox, select {
	color: #000099;
}
.submitButton {
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-style: double;
	border-right-style: double;
	border-bottom-style: double;
	border-left-style: double;
	border-top-color: #c4cccc;
	border-right-color: #acb5b5;
	border-bottom-color: #6f7777;
	border-left-color: #acb5b5;
	background-image: url(../images/imgButtonBackground.png);
	background-repeat: repeat-x;
	background-position: top;
	height: 2em;
	color: #000066;
}


body {
	margin: 0px;
}
a:link, a:visited {
	color: #CC0000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #666666;
}
.navbar a:link, .navbar a:visited {
	color: #CC0000;
	text-decoration: none;
}
.navbar a:hover {
	color: #999999;
	text-decoration: underline;
}
.homepageTitles a:link, .homepageTitles a:visited {
	color: #CC0000;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}
.homepageTitles a:hover {
	color: #999999;
	text-decoration: underline;
}
/*************       Page Design Layout        *************/

#header {
	background-image: url(../images/bkgdHeader.jpg);
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: left;
	height: 100px;
}
.homeAdminBox {
	background-color: #FFFFFF;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000099;
	font-weight: normal;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 1px solid #FFFFFF;
}
.homeAdminBox:hover  {
	background-color: #D2D2FF;
	border: 1px solid #999999;
}

.homeAdminBox img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


#header p {
	text-align: right;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
#mainContent {
	background-color: #DEDEDE;
	border: 1px solid #999999;
	margin-left: 155px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}
#mainContentHome {
	background-color: #DEDEDE;
	border: 1px solid #999999;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
#mainText {
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#mainText h2 {
	height: 54px;
	font-size: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #000099;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-left-color: #CCCCCC;
	margin-top: 0px;
	margin-right: -10px;
	margin-bottom: 20px;
	margin-left: -10px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-image: url(../images/bkPageHeader.png);
	border-bottom-color: #999999;
}
#mainText img {
	padding-right: 5px;
	vertical-align: text-top;
}

#mainText h3 {
	font-size: 13px;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-top-width: 2px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-color: #000033;
	border-bottom-style: solid;
	border-bottom-color: #000033;
	background-color: #0000CC;
	color: #FFFFFF;
}
#sidebar {
	width: 120px;
	margin-left: 1%;
	float: left;
	margin-top: 10px;
}
.homepageheader {
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
	color: #000099;
	font-family: "Arial Narrow", Helvetica, sans-serif;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	display: block;
}
#pageInformationHome {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	margin-bottom: 20px;
	padding: 5px;
	width: 650px;
	margin-right: auto;
	margin-left: auto;
}
.pageInformationHome {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 7px;
	padding-left: 3px;
	margin-bottom: 20px;
	width: 650px;
	margin-right: auto;
	margin-left: auto;
}


#pageInformation {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	margin-bottom: 20px;
	padding: 5px;
}
#pageInformation strong {
	color: #000066;
}

#pageInformation ul {
	list-style-type: none;
	margin: 0px;
	padding-right: 3px;
	padding-left: 3px;
}
#pageInformation li {
	display: inline;
	padding-right: 20px;
}
#pageInformation h1 {
	font-size: 12px;
	color: #000066;
}



#footer {
	background-image: url(../images/bkgdTableHead.jpg);
	height: 40px;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	padding-top: 5px;
	clear: both;
	text-align: center;
	color: #666666;
}

/*************       Section Titles        *************/

.MembersSectionTitle {
	color: #FFFFFF;
	background-color: #669900;
}
.CommitteeSectionTitle {
	color: #000066;
}
.StateSectionTitle {
	color: #000066;
}
.ReportsSectionTitle {
	color: #000066;
}
.LeadershipSectionTitle {
	color: #000066;
}

/*************       Admin Page Titles        *************/

.AdminMembersPageTitle {
	color: #000066;
}
.AdminCommitteePageTitle {
	color: #000066;
}
.AdminStatePageTitle {
	color: #000066;
}
.AdminReportsPageTitle {
	color: #FF0000;
}
.AdminLeadershipPageTitle {
	color: #FF0000;
}

/*************       Main Page Titles        *************/

.MembersPageTitle {
	color: #000066;
	background-image: url(../images/imgPHCommittee.jpg);
	height: 50px;
	background-repeat: no-repeat;
	display: block;
	padding-left: 65px;
	padding-top: 10px;
}
.CommitteePageTitle {
	color: #000066;
	background-image: url(../images/imgPHCommittee.jpg);
	height: 50px;
	background-repeat: no-repeat;
	display: block;
	padding-left: 65px;
	padding-top: 10px;
}
.StatePageTitle {
	color: #000066;
	background-image: url(../images/imgPHCommittee.jpg);
	height: 50px;
	background-repeat: no-repeat;
	display: block;
	padding-left: 65px;
	padding-top: 10px;
}
.ReportsPageTitle {
	color: #000066;
	background-image: url(../images/imgPHCommittee.jpg);
	height: 50px;
	background-repeat: no-repeat;
	display: block;
	padding-left: 65px;
	padding-top: 10px;
}
.LeadershipPageTitle {
	color: #000066;
	background-image: url(../images/imgPHCommittee.jpg);
	height: 50px;
	background-repeat: no-repeat;
	display: block;
	padding-left: 65px;
	padding-top: 10px;
}

/*************       Table Headers        *************/

.MembersTableHeader {
	color: #000066;
	background-image: url(../images/imgPHCommittee.jpg);
	height: 50px;
	background-repeat: no-repeat;
	display: block;
	padding-left: 65px;
	padding-top: 10px;
}
.CommitteeTableHeader {
	color: #FFFFFF;
	background-color: #336600;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	padding: 3px;
}
.StateTableHeader {
	color: #000066;
	background-image: url(../images/imgPHCommittee.jpg);
	height: 50px;
	background-repeat: no-repeat;
	display: block;
	padding-left: 65px;
	padding-top: 10px;
}
.ReportsTableHeader {
	color: #000066;
	background-image: url(../images/imgPHCommittee.jpg);
	height: 50px;
	background-repeat: no-repeat;
	display: block;
	padding-left: 65px;
	padding-top: 10px;
}
.LeadershipTableHeader {
	color: #000066;
	background-image: url(../images/imgPHCommittee.jpg);
	height: 50px;
	background-repeat: no-repeat;
	display: block;
	padding-left: 65px;
	padding-top: 10px;
}

.whiteText a {
	color: #FFFFFF;
}
.whiteBox {
	background-color: #FFFFFF;
	padding: 5px;
	border: 1px solid #999999;
	width: 100%;
}

.pageInformation {

	background-color: #FFFFFF;
	border: 1px solid #999999;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 7px;
	padding-left: 3px;
	margin-bottom: 20px;
}
.pageInformation strong {

	color: #000066;
}
.pageInformation ul {

	list-style-type: none;
	margin: 0px;
	padding-right: 3px;
	padding-left: 3px;
}
.pageInformation li {

	display: inline;
	padding-right: 20px;
}

.homepageBlocks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CC0000;
	font-size: 12px;
	font-weight: bold;
}
.TextButtons {
	font-size: 12px;
	font-weight: bold;
	color: #990000;
}
.detailspopup {
	line-height: 1.3em;
	font-size: 11px;
	padding: 10px;
	border: 5px solid #DEDEDE;
}
.detailspopup strong {
	color: #000099;
}
.cleartable {
	clear: both;
}
.nolinks {
	text-decoration: none;
}


.PageInfoImage {
	margin: 0px;
	padding: 0px;
}
.texteditor {
	border: 3px double #000099;
	margin-top: 15px;
	margin-bottom: 15px;
}
.commenttext {
	color: #000099;
	font-weight: bold;
}
.ReportTitles {
	font-weight: bold;
	color: #000099;
	padding-top: 10px;
	padding-left: 3px;
	font-size: 12px;
	background-color: #D6DFF7;
	width: 100%;
	padding-bottom: 0px;
}
.votingInfoRight {
	width: 30%;
	background-color: #33CC33;
	margin-left: 33%;
	float: none;
}
.votingInfoLeft {
	width: 30%;
	background-color: #003399;
}
.votingInfoEnd {
	width: 33%;
	background-color: #0000FF;
	float: right;
	margin-left: 66%;
}
.pageHeadPage {
	background-image: url(../images/Adminpages.jpg);
	height: 50px;
	background-repeat: no-repeat;
	background-position: left;
	display: block;
	margin-top: 3px;
	padding-left: 80px;
}
.pageHeadVoting {
	background-image: url(../images/Adminvoting.jpg);
	height: 50px;
	background-repeat: no-repeat;
	background-position: left;
	display: block;
	margin-top: 3px;
	padding-left: 80px;
}
.pageHeadUser {
	background-image: url(../images/Adminpages.jpg);
	height: 50px;
	background-repeat: no-repeat;
	background-position: left;
	display: block;
	margin-top: 3px;
	padding-left: 80px;
}
.pageHeadUserAdmin {
	background-image: url(../images/imgnewHeaderusers.png);
	height: 50px;
	background-repeat: no-repeat;
	background-position: left;
	display: block;
	margin-top: 3px;
	padding-left: 80px;
}
.oddrow {
	background-color: #EEEEEE;
}
.evenrow {
	background-color: #FFFFFF;
}
.hover {
	background-color: #F7F7F7;
}
.formlabel {
	width: 45px;
	display: block;
	float: left;
}
.nobulletlist {
	list-style-type: none;
	padding-left: 5px;
	padding-top: 5px;
}
.nobulletlist li {
	padding-bottom: 10px;
}
#pageInformationHome a:link, #pageInformationHome a:visited {
	color: #CC0000;
	text-decoration: none;
}
#pageInformationHome a:hover {
	color: #CC0000;
	text-decoration: underline;
}
.pageHeadcommittee {
	background-image: url(../images/imgHeadercommittee.png);
	height: 50px;
	background-repeat: no-repeat;
	background-position: left;
	display: block;
	margin-top: 3px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 65px;
	margin-bottom: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.pageHeaduser {
	background-image: url(../images/imgHeadermyprofile.png);
	height: 50px;
	background-repeat: no-repeat;
	background-position: left;
	display: block;
	margin-top: 3px;
	padding-left: 65px;
}
.pageHeadstate {
	background-image: url(../images/imgHeaderstate.png);
	height: 50px;
	background-repeat: no-repeat;
	background-position: left;
	display: block;
	margin-top: 3px;
	padding-left: 65px;
}
.pageHeadVoting {
	background-image: url(../images/imgHeadervoting.png);
	height: 50px;
	background-repeat: no-repeat;
	background-position: left;
	display: block;
	margin-top: 3px;
	padding-left: 65px;

	/* hide hack from Mac-IE5 \*/
* html .mybuggyelement { height: 1%;
}
/* end hiding */
}
.pageHeadVotingAdmin {

	background-image: url(../images/imgnewHeadervoting.png);
	height: 50px;
	background-repeat: no-repeat;
	background-position: left;
	display: block;
	margin-top: 3px;
	padding-left: 80px;
}
.pageHeadSystemAdmin {


	background-image: url(../images/imgnewHeaderadmin.png);
	height: 50px;
	background-repeat: no-repeat;
	background-position: left;
	display: block;
	margin-top: 3px;
	padding-left: 80px;
}
